@use "_spinner";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: $foreground-color;
    background-color: $background-color;
    font-family: "Inter", sans-serif;
}

.add-mood {
    margin-top: 100px;
}

.mood-levels {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;

    .category-mood {
        p {
            text-align: center;
        }

        img {
            width: 60px;
            cursor: pointer;
        }
    }
}

.mood-level {
    cursor: pointer;

    p {
        margin: 0;
    }
}

.selected {
    border: 1px solid white;
}

.moods-parent {
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: RGBA(255, 255, 255, 0.3);
}

.moods {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .mood-parent {
        width: 100vw;
        overflow-x: hidden;
        display: flex;

        &:nth-child(even) {
            justify-content: right;

            .mood-child {
                margin-left: 100px;
            }
        }

        &:nth-child(odd) {
            .mood {
                text-align: right;
                justify-content: right;
            }

            .mood-child {
                margin-right: 100px;
            }
        }

        .mood {
            width: 50vw;
            display: flex;

            p {
                line-break: anywhere;
            }

            .mood-child {
                width: 300px;
            }

            .mood-title {
                font-size: 30px;
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: normal;
                letter-spacing: 1.5px;
                color: $tertiary-color;
            }

            .timestamp {
                font-size: 15px;
                margin: 0;
                color: $primary-color;

                .slash {
                    color: $quaternary-color;
                }
            }

            .reason {
                margin-top: 0;
            }
        }
    }
}

.account {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 0;

    p {
        text-align: center;
        margin: 0;
    }

    .item {
        display: inline-block;
        padding: 10px;
        background-color: $primary-color;
        border: 1px solid black;
        cursor: pointer;

        &:not(first-child) {
            border-top: none;
        }

        &:hover {
            background-color: $primary-soft-color;
        }
    }
    
    &:hover .item {
        display: inline-block;
    }

    &:not(:hover) {
        .item:not(:first-child) {
            display: none;
        }
    }
}

.chart {
    canvas {
        width: 500px;
    }
}
